@charset "utf-8";
/* HIVELAB Web Standard */

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,table,th,td,form,fieldset,legend,textarea,input,select,textarea,button,pre{margin:0;padding:0}
html,body{width:100%;height:100%}
body{position:relative;min-width:1280px}
body,input,select,textarea,button,th,td{font-family:'돋움','Dotum',-apple-system,'Apple SD Gothic Neo',sans-serif;font-size:11px;color:#555}
fieldset,img{border:0 none}
ul,ol,dl,li{list-style:none}
li{vertical-align:top}
input,select,textarea,button{vertical-align:top}
button,input[type=button]{overflow:visible;background-color:transparent;cursor:pointer;outline:none}
button::-moz-focus-inner{padding:0;border:0}
input[type="text"],input[type="password"],button{-webkit-appearance:none;border:0 none;border-radius:0;outline:none}
button span{position:relative}
address,caption,em{font-style:normal}
a{color:#555;cursor:pointer}
a,a:active,a:hover{text-decoration:none}
table{border-collapse:collapse;border-spacing:0}
ins{text-decoration:none}
[tabindex="0"]{cursor:pointer}
input[type=text]::-ms-clear{display:none}
body {background:#f4f4f4;}
img {-ms-interpolation-mode: bicubic;}
* {margin:0; padding:0;}
html {overflow-y:scroll;}
hr {display:none;}
input[disabled='disabled'],input[disabled],
textarea[disabled='disabled'],textarea[disabled],
select[disabled='disabled'],select[disabled] {background-color:#eee;}

/* common */
.blind,legend,caption span{overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:999px;white-space:nowrap}
.blind {display:none !important;}
.sp,.arr,#footer .service_lst .tit,.site_cnt .logo{display:inline-block;overflow:hidden;width:10px;height:10px;background:url(//img.lfmall.co.kr/file/WAS/apps/2017/pfront/sp.png) no-repeat;line-height:999px;vertical-align:top}
.elp{display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.aln{display:inline-block;height:100%;vertical-align:middle}
.tl{text-align:left !important}
.bgnone{background:none !important}
.color_gray{color:#999 !important}
.valn_top{vertical-align:top !important}
.clr_l{clear:left !important}

/* 개발 요청 : 카드섹션간 margin 조절 */
.margin_none{margin-top:10px !important}
.colGroup .margin_none,
.sectionGroup .margin_none:first-child{margin-top:0 !important}
.sectionGroup.margin_none,.tabGroup.margin_none,.colGroup.margin_none,.swipeGroup.margin_none{margin-top:0 !important;padding-top:0 !important}

/* 스킵네비게이션 */
#skip{height:0}
#skip a{display:block;position:absolute;left:0;top:-100px;width:100%;height:1px;border-bottom:1px solid #000;text-align:center}
#skip a:focus,#skip a:active{position:absolute;top:0;z-index:120;height:25px;padding:10px 0;background:#fff;font-weight:bold;color:#000;font-size:20px;text-decoration:none}

/* layout */
#wrap{overflow:hidden;min-width:1280px;min-height:100%;}
#content{position:relative;min-height:100%;width:940px;margin:0 auto;padding:20px 0 100px}
.main #content{min-height:100%;width:auto;padding-top:0}
.main #content>.inner{position:relative;width:940px;margin:0 auto;padding-top:20px}

/* header */
#header{position:relative;z-index:105;background: white;border-bottom: 1px solid #ddd}
#header .inner{position:relative;width:940px;margin:0 auto;padding-top:71px;zoom:1;padding-left: 42px;padding-right: 42px;}
#header .inner:after{display:block;clear:both;content:''}
#header .inner:first-child{*z-index:1}
#header .main_logo{float:left;width: 159px;height: 35px;margin-right: 12px;margin-bottom: 13px;}
#header .main_logo .sp{width:159px;height:35px;background-position:0 -324px}
#header .srch_wrap{float:left;position:relative;z-index:1;height:24px;padding-right:22px;margin-top: 10px}
#header .srch_wrap .inp_tx{display:block;width:250px;height:23px;border-bottom:1px solid #dc2832 }
#header .srch_wrap input{width:100%;height:23px;background:none;color:#000;line-height:23px;-webkit-appearance:none;-moz-appearance:none;outline:none}
#header .srch_wrap .btn_srch{position:absolute;top:0;right:0;width:22px;height:24px;padding:3px 2px}
#header .srch_wrap .btn_srch .sp{width:18px;height:18px;background-position: -305px -241px;}
#header .srch_wrap .srch_cnt{top:27px;right:2px}
#header .srch_wrap .tab_keyword li{width:134px}
#header .srch_wrap .tab_keyword li:first-child{width:133px}
#header .srch_wrap .tab_keyword a{margin-right:-1px;border-left:1px solid #dadada}
#header .srch_wrap .tab_keyword li:first-child a{margin-left:-1px}
#header .srch_wrap .tab_keyword_cnt{padding:4px 0}
#header .srch_wrap .tab_keyword_cnt a{padding:6px 11px 5px}
#header .srch_wrap .tab_keyword_cnt.popular,
#header .srch_wrap .tab_keyword_cnt.recent{padding:3px 0 6px}
#header .additional_menu{overflow:hidden;float:right;margin:-2px -10px -15px 0}
#header .additional_menu li{float:left;position:relative}
#header .additional_menu a{display:block;padding:12px 15px 12px 15px;font-size:12px;color:#888888; letter-spacing:-0.3px;text-align:center;line-height:8px;}
#header .additional_menu a>span {display:block;padding-top:3px;margin-bottom:-1px;}
#header .additional_menu a>img {display:block;margin:0 auto;}
#header .additional_menu .bar{position:absolute;width: 15px;height: 24px;background-position: -327px -241px;top: 12px;right: -8px}
#header .top_wrap{position:absolute;top:0;left:0;width:100%;zoom:1;border-top:2px solid #dc2832;border-bottom:1px solid #f4f4f4}
#header .top_wrap:after{display:block;clear:both;content:''}
#header .top_wrap .inner{padding-top:0}
#header .home_menu{overflow:hidden;float:left;margin-left:-7.5px}
#header .home_menu li{float:left}
#header .home_menu a{display:block;padding:10px 7.5px 12px 7.5px;font-size:12px;font-weight:bold;color:#555555;line-height:11px;letter-spacing:0;margin-top:1px;}
#header .etc_menu{float:right;margin-right:-8px;zoom:1}
#header .etc_menu:after{display:block;clear:both;content:''}
#header .etc_menu li{float:left;position:relative;letter-spacing:-1px}
#header .etc_menu a{display:block;padding:11px 7px 9px 7px;color:#555;letter-spacing:-1px;}
#header .etc_menu .baro_on{padding:11px 0 9px;color:#ccc}
#header .etc_menu .btn_baro{margin:-1px 0 1px 4px;font-size:0;vertical-align:middle}
#header .etc_menu .btn_baro .sp{width:30px;height:12px;background-position:-341px -81px}
#header .etc_menu .btn_baro.on .sp{background-position:-341px -95px}
#header .etc_menu .bar{position:absolute;top:50%;right:0;width:1px;height:10px;margin-top:-5px;background:#ccc}
/*guide*/
#header > .inner.guide:before{opacity:0.6;content:" ";display:block;position:absolute;top:0;left:0;width:1024px;height:178px;background:url(//img.lfmall.co.kr/file/WAS/apps/2017/pfront/b3_guide_pc_header.jpg)}
#header > .inner:before{background:none;}
/* GNB */
#gnb{position:relative;margin-top:21px;border-top:1px solid #f4f4f4;}
#gnb .inner{position:static;padding-top:0}
#gnb .gtt{display:block;position:relative;padding-top:11px;font-size:14px;font-weight:bold;color:#333;line-height:17px;text-align:center;outline:none;}
#gnb .brand_overview .bg_gr{position:absolute;right:0;left:0;bottom:-6px;height:5px;background:url(//img.lfmall.co.kr/file/WAS/apps/2017/pfront/gr_overview.png) repeat-x}
#gnb .brand_menu:hover .brand_overview,
#gnb .brand_menu:focus .brand_overview {display:block}
#gnb .brand_menu{float:left; height:37px; margin-left:24px;}
#gnb .brand_menu .gtt{padding-right:16px;text-align:right;letter-spacing:-1px;}
#gnb .brand_menu .gtt .sp{width:38px;background-position:-85px 0}
#gnb .brand_menu .gtt .arr{position:absolute;top:68%;right:0;width:11px;height:7px;margin-top:-4px;background-position:-290px -241px}
#gnb .category_menu{float: left;width: 119px;border-right: 1px solid #f4f4f4;height: 37px}
#gnb .category_menu .gtt{text-align:left}
#gnb .category_menu .gtt .arr{position:absolute;top:68%;right:12px;width:11px;height:7px;margin-top:-4px;background-position:-290px -241px}
#gnb .category_menu:hover .gtt .arr,
#gnb .brand_menu:hover .gtt .arr{background-position:-290px -230px}
#gnb .brand_menu.active .gtt .arr,
#gnb .brand_menu:hover .gtt .arr{margin-top: -5px;}
#gnb .category_menu .sp.hambuger{margin-right:8px;width: 10px;height: 10px;background-position: -290px -252px;margin-top: 2px}
#gnb .category_menu.active .sp.hambuger,
#gnb .category_menu:hover .gtt .sp.hambuger{background-position: -290px -266px;}
#gnb .brand_overview{display:none;position:absolute;top:37px;right:0;left:0;height:500px;background: white;padding-top:1px;border-top:1px solid #ddd;}
#gnb .brand_overview .inner{overflow:hidden;width:940px;height:500px;margin:0 auto}
#gnb .main_brand_area{float:left;width:156px;padding:32px 16px 46px;background:#f6f6f6}
#gnb .main_brand_area li{margin-top:22px}
#gnb .main_brand_area li:first-child{margin-top:0}
#gnb .main_brand_area a{display:block;font-size:0}
#gnb .main_brand_area .stt{display:block;margin-bottom:5px;font-size:12px;color:#333;line-height:14px}
#gnb .main_brand_area .thumb{border:1px solid #d1d1d1}
#gnb .brand_lst{overflow:hidden;padding:32px 0 34px}
#gnb .brand_lst .lst{float:left;width:149px;height:434px;padding:0 19px;border-left:1px dashed #ccc}
#gnb .brand_lst .lst:first-child{width:150px;border-left:0}
#gnb .brand_lst a{display:block;margin-top:16px;font-size:12px;color:#666;line-height:14px}
#gnb .brand_lst a:first-child{margin-top:0}
#gnb .brand_lst .bar{display:block;width:14px;height:1px;margin:22px 0 23px;background:#000;position:relative;}
#gnb .brand_lst .btn_brand_all{margin-top:8px;color:#000}
.btn_brand_all{width:105px;padding:4px 8px 3px 10px;border:1px solid #c3c3c3;background:#f4f4f4;font-size:12px;color:#000}
.btn_brand_all .sp{width:6px;height:9px;margin:-1px 0 1px 4px;background-position:-54px -26px;vertical-align:middle}
#gnb .category_lst{float:left;padding-left:30px;zoom:1}
#gnb .category_lst.planning{padding-left:29px}
#gnb .category_lst:after{display:block;clear:both;content:''}
#gnb .category_lst>li{float:left;min-width:30px;height:37px;margin-left:29px; box-sizing:border-box;}
#gnb .inner > .sep{display: block; width: 1px; height: 12px; background-color: #888; float: left; position: relative;margin:12px 0px 10px 27px;}
#gnb .category_lst>li > a{text-align:center;display:block;padding:11px 8px 4px 4px;border-bottom:3px solid rgba(255,255,255,0);letter-spacing:0}
/*ie*/
#gnb .category_lst>li > a {padding:11px 5px 4px 4px;}
#gnb .category_lst>li > a:hover{text-decoration:none;}
#gnb .category_lst>li:hover > a,
#gnb .category_lst>li.active > a{color:#dc2832;border-bottom: 3px solid #dc2832;}
#gnb .category_lst>li.category5:hover > a {border-bottom:3px solid rgba(255,255,255,0);}
#gnb .category_lst>li.activeFixed  > a{color:#dc2832;border-bottom: 3px solid #dc2832;}
#gnb .category_lst>li.activeFixed.category5  > a{color:#dc2832;border-bottom:3px solid rgba(255,255,255,0);}
#gnb .brand_menu.activeFixed > .gtt {color:#dc2832;}

#gnb .category_lst>li.active > a{border-bottom:3px solid #dc2832;}
#gnb .category_lst.sizeM>li{margin-left:21px;}
#gnb .category_lst:after{display:block;clear:both;content:''}
#gnb .category_lst>li .new.sp {display:inline-block; width:11px; height:11px; margin-left:5px; margin-right:-5px; background-position:0 -226px;}
#gnb .category_lst>li:first-child{margin-left:0;}
#gnb .category_lst .arr{display:none}
#gnb .category_lst .active .arr{display:none;position:absolute;left:50%;bottom:-5px;z-index:1;width:9px;height:8px;margin-left:-3px;background-position:-33px -35px}
#gnb .category_lst .sp{width:15px;height:15px;margin:0;background-position:-87px 0;vertical-align:middle;position: absolute;left: -2px}
#gnb .category_lst .category5 .sp {position:absolute; left:-3px; top:11px;}

/* branding 3.0 카테고리 메뉴 스타일 */
#gnb .category_menu > .categry_menu-dropdown{display:none;}
#gnb .category5 > .categry_menu-dropdown{display:none;}
#gnb .category_menu:hover > .categry_menu-dropdown,
#gnb .category5:hover > .categry_menu-dropdown,
#gnb .category_menu.active > .categry_menu-dropdown{display:block;}
#gnb .category_lst > li.category5 {width:72px;}
#gnb .category_lst > li.category5 > a:after {content:''; top:20px; right:0; display:block; background: url(//img.lfmall.co.kr/file/WAS/apps/2017/pfront/sp.png) no-repeat;position:absolute;right:0;width:11px;height:7px;margin-top:-4px;background-position:-290px -241px}
#gnb .category_lst > li.category5:hover > a:after {background-position:-290px -230px}
#gnb .category_menu.active > .gtt,
#gnb .category_menu:hover > .gtt,
#gnb .brand_menu.active > .gtt,
#gnb .brand_menu:hover > .gtt{color:#dc2832;font-weight:bold}
.categry_menu-dropdown{}
#gnb .category5 > .categry_menu-dropdown {}
.categry_menu-dropdown > .categry-dep1{position:absolute;top:37px;background: white;height:417px; padding: 25px 0 25px 20px; font-size: 12px;border-top: 1px solid #f4f4f4;border-bottom: 1px solid #ddd;border-left: 1px solid #ddd;width:127px}
.categry_menu-dropdown > .categry-dep1 > ul{}
.categry_menu-dropdown > .categry-dep1 > ul > li{}
.categry_menu-dropdown > .categry-dep1 > ul > li > a,
.categry_menu-dropdown .categry-dep2 > ul > li > a,
.categry_menu-dropdown .categry-dep3 > ul > li > a{position:relative;padding: 7px 0; display: inline-block;width: 107px;}
.categry_menu-dropdown .categry-dep3 > ul > li > a{width: auto}
.categry_menu-dropdown > .categry-dep1 > ul > li.last:hover a:after,
.categry_menu-dropdown .categry-dep2 > ul > li.last:hover a:after {display:none;}
.categry_menu-dropdown > .categry-dep1 > ul > li:hover > a,
.categry_menu-dropdown > .categry-dep1 > ul > li.active > a,
.categry_menu-dropdown .categry-dep2 > ul > li:hover > a,
.categry_menu-dropdown .categry-dep2 > ul > li.active > a,
.categry_menu-dropdown .categry-dep3 > ul > li:hover > a,
.categry_menu-dropdown .categry-dep3 > ul > li.active > a{text-decoration:none !important;color: #dc2832;font-weight:bold}
.categry_menu-dropdown > .categry-dep1 > ul > li > a > .sp.arr
.categry_menu-dropdown .categry-dep2 > ul > li > a > .sp.arr { position: absolute; top: 12px; right: 0; width: 7px; height: 11px; margin-top: -6px; background-position: -304px -263px;}
.categry_menu-dropdown > .categry-dep1 > ul > li:hover > a:after,
.categry_menu-dropdown .categry-dep2 > ul > li:hover > a:after { content:" ";display:inline-block; position: absolute; top: 12px; right: 0; width: 7px; height: 11px; margin-top: -6px; background: url(//img.lfmall.co.kr/file/WAS/apps/2017/pfront/sp.png) no-repeat; background-position: -304px -263px;}
.categry_menu-dropdown > .categry-dep1 > ul > li:hover > a > .sp.arr,
.categry_menu-dropdown .categry-dep2 > ul > li:hover > a > .sp.arr {display:inline-block;}
.categry_menu-dropdown .categry-dep2,
.categry_menu-dropdown .categry-dep3{position: absolute; top: -1px; left: 147px; width: 146px; height: 417px; padding: 25px 0px 25px 20px; background: white; border-left: 1px solid #f4f4f4;border-top: 1px solid #f4f4f4;width:127px;border-bottom: 1px solid #ddd;}
.categry_menu-dropdown .categry-dep3{border-right: 1px solid #ddd}
.categry_menu-dropdown .categry-dep3{}
.categry_menu-dropdown .categry-dep3.col2{width:286px;}
.categry_menu-dropdown .categry-dep3.col2 > ul > li{width:50%;float:left;}
.categry_menu-dropdown .categry-dep3.col2 > ul > li:nth-child(odd){float:left;}
.categry_menu-dropdown .categry-dep3.col2 > ul > li:nth-child(even){float:right}
.categry_menu-dropdown .categry-dep3.col2 > ul > li:nth-child(even) > a{margin-left:0;}
.categry_menu-dropdown .categry-dep3.col2 > ul > li > a{width:auto;}
.categry_menu-dropdown .categry-dep3 > ul > li:hover > a,
.categry_menu-dropdown .categry-dep3 > ul > li.active > a{border-bottom: 1px solid #dc2832; padding-bottom: 0; margin-bottom: 6px}
.categry-dep1 > ul > li > .categry-dep2,
.categry-dep2 > ul > li > .categry-dep3{display:none;} 
.categry-dep1 > ul > li.active > .categry-dep2,
.categry-dep1 > ul > li:hover > .categry-dep2,
.categry-dep2 > ul > li.active > .categry-dep3,
.categry-dep2 > ul > li:hover > .categry-dep3{display:block;}

/* footer */
#footer{position:relative;padding-bottom:90px;border-top:1px solid #dfdfdf}
#footer .inner,#footer .service_lst{width:940px;margin:0 auto}
#footer .bar{display:inline-block;width:1px;height:9px;margin:-1px 0 1px;background:#ccc;vertical-align:middle}
#footer .service_area{background:#ededed}
#footer .service_lst{overflow:hidden;padding:29px 0 26px}
#footer .service_lst>li{float:left;position:relative;height:138px;padding:0 12px 0 19px;border-left:1px solid #d2d2d2}
#footer .service_lst>li:first-child{border:0}
#footer .lst li{margin-top:8px;padding-left:8px;background:url(//img.lfmall.co.kr/file/WAS/apps/2017/pfront/lst_dot6.gif) no-repeat 1px 5px;font-size:11px;color:#878787;letter-spacing:-1px;line-height:14px}
#footer .lst li:first-child{margin-top:0}
#footer .lst a {display:block;font-size:11px;color:#878787}
#footer .lst strong{font-weight:normal}
#footer .service_lst .tit{height:12px;margin-bottom:23px}
#footer .service_lst .help_cnt{width:250px;padding:0 9px 0 0}
#footer .service_lst .help_cnt .tit{width:77px;margin-bottom:25px;background-position:-238px 0}
#footer .service_lst .help_cnt .tel{margin-bottom:14px;padding-left:0;font-size:0;line-height:0}
#footer .service_lst .help_cnt .tel .sp{width:158px;height:21px;background-position:0px -202px}
#footer .service_lst .help_cnt .btn_s{margin-top:6px;padding:3px 7px;border:0;background:none}
#footer .service_lst .help_cnt .ico_mail{width:16px;height:11px;margin:0 3px 0 0;background-position:-120px -46px}
#footer .service_lst .cs_cnt{width:235px;padding-right:0}
#footer .service_lst .cs_cnt .tit{width:124px;margin-bottom:16px;background-position:-238px -14px}
#footer .service_lst .cs_cnt .lst{overflow:hidden}
#footer .service_lst .cs_cnt .lst li{float:left;width:106px}
#footer .service_lst .cs_cnt .lst li:first-child{margin-top:8px}
#footer .service_lst .news_cnt{width:166px;padding-right:50px}
#footer .service_lst .news_cnt .tit{width:107px;background-position:-238px -28px}
#footer .service_lst .site_cnt{width:158px}
#footer .service_lst .site_cnt .tit{width:76px;background-position:-317px 0}
#footer .service_lst .btn_more{position:absolute;top:0;right:25px;padding:0;border:0;background:none;font-size:11px;color:#999;line-height:12px}

.site_cnt .swiper-container{height:auto;margin-top:2px}
.site_cnt .swiper-wrapper{height:100%}
.site_cnt .swiper-button{position:absolute;top:-35px;right:54px;width:21px;height:9px}
.site_cnt .swiper-button button{top:0;margin-top:0}
.site_cnt .swiper-button .sp{width:5px;height:9px}
.site_cnt .swiper-button .btn_prev{left:0}
.site_cnt .swiper-button .btn_prev .sp{background-position:-173px -113px}
.site_cnt .swiper-button .btn_next{right:0}
.site_cnt .swiper-button .btn_next .sp{background-position:-180px -113px}
.site_cnt .swiper-slide{width:158px;position:static;float:left;}
.site_cnt .swiper-slide a{display:block;position:relative;height:28px;padding:4px 0 4px 79px;border-top:1px dotted #bebebe;font-size:11px;color:#878787;letter-spacing:-1px;line-height:28px}
.site_cnt .swiper-slide a:first-child{border-top:0}
.site_cnt .swiper-slide a span{display:inline-block;vertical-align:middle}
.site_cnt .mask{overflow:hidden;width:158px;height:110px}

.site_cnt .logo{position:absolute;top:10px;left:0;height:16px}
.site_cnt .lf{width:29px;background-position:-223px -149px}
.site_cnt .darks{width:29px;background-position:-254px -149px}
.site_cnt .hazzys{width:53px;background-position:-285px -149px}
.site_cnt .tngt{width:39px;background-position:-340px -149px}
.site_cnt .towngent{width:63px;background-position:-223px -167px}
.site_cnt .maestro{width:63px;background-position:-288px -167px}
.site_cnt .jillstuart_ny{width:62px;background-position:-223px -185px}
.site_cnt .ilcorso{width:58px;background-position:-288px -185px}
.site_cnt .lafuma{width:55px;background-position:-248px -131px}

#footer .policy_area{padding:10px 0;background:#fafafa;font-size:0}
#footer .policy_area a{display:inline-block;margin:0 15px;font-size:11px;color:#777;letter-spacing:-1px;vertical-align:middle}
#footer .policy_area a:first-child{margin-left:0}
#footer .address_area{padding:18px 0 0}
#footer .address_area p{margin-top:1px;font-size:11px;color:#777;letter-spacing:-1px;line-height:13px}
#footer .address_area p:first-child{margin-top:0}
#footer .address_area span{vertical-align:middle}
#footer .address_area .bar{margin:-1px 9px 1px;background:#ccc}
#footer .address_area .btn_s{margin-left:6px;background:#f4f4f4}
#footer .address_area .copyright{margin-top:5px;letter-spacing:-.5px}
#footer .partner_lst{overflow:hidden;margin-top:17px}
#footer .partner_lst li{float:left;margin-left:19px}
#footer .partner_lst li:first-child{margin-left:0}
#footer .partner_lst li>a:first-child{display:block;font-size:0}
#footer .partner_lst .btn_s{margin:3px 0 0 4px;vertical-align:top}
#footer .ly_pop_wrap{position:absolute;top:auto;right:auto;left:50%;bottom:205px}
#footer .ly_pop{position:relative;top:auto;left:auto;margin-top:0 !important}

/* top버튼 */
.btn_top{display:none;position:fixed;left:50%;bottom:9px;z-index:100;width:39px;height:39px;margin-left:500px;background:#000}
.btn_top .sp{position:absolute;top:8px;left:9px;width:21px;height:23px;background-position:-158px -31px}
.btn_top.showed{display:block}

/* 윙 배너 */
.wingbnr{position:absolute;top:49px;z-index:100;width:100px}
.wingbnr .bnr_lst li{margin-top:7px;font-size:0}
.wingbnr .bnr_lst li:first-child{margin-top:0}
.wingbnr .bnr_lst a{display:block}
.wingbnr .bnr_lst img{width:100%}
.wingbnr.wingright{left:50%;margin-left:500px}
.wingbnr.wingleft{right:50%;margin-right:500px}

.my_benefit{margin-bottom:10px;border:1px solid #ddd;background:#fff;text-align:center}
.my_benefit li{position:relative;border-top:1px solid #ddd;zoom:1}
.my_benefit li:first-child{border-top:0}
.my_benefit li>a{display:block;padding:11px 10px 10px}
.my_benefit dl{line-height:13px}
.my_benefit dt{color:#666;letter-spacing:-1px}
.my_benefit dd{margin-top:4px;font-weight:bold;color:#d9232e}
.my_benefit dd span{font-weight:normal}
.my_benefit .btn_ly{position:absolute;top:9px;right:15px;font-size:0}
.my_benefit .btn_ly .sp{width:14px;height:12px;background-position:-339px -66px}
.my_benefit .coupon dt{color:#000}

.ly_bnr{display:none;position:absolute;top:0;right:-1px;width:278px;padding:14px 16px 9px;border:1px solid #666;background:#fff;letter-spacing:-1px;text-align:left}
.ly_bnr .tit{font-weight:bold;color:#666;line-height:13px}
.ly_bnr .tx{margin-top:2px;font-weight:normal;color:#666;line-height:17px}
.ly_bnr .tx em{color:#000}
.ly_bnr .btn_close{position:absolute;top:-1px;right:-1px;font-size:0}
.ly_bnr .btn_close .sp{width:11px;height:11px;background-position:-326px -67px}

.recentprdt{max-height:560px;margin-bottom:14px;border:1px solid #ddd;background:#fff} /* spwon */
.recentprdt>li{margin-top:0;border-top:1px solid #8a8a8a;vertical-align:top}
.recentprdt>li:first-child{border-top:0}
.recentprdt a{display:block}
.recentprdt dl{overflow:hidden;padding:9px 9px 8px;background:#666;font-weight:normal;color:#fff;line-height:13px}
.recentprdt dt{float:left}
.recentprdt dd{float:right;font-weight:bold}
.recentprdt .prdt_wrap{padding-bottom:10px}
.recentprdt .prdt_lst{height:419px;padding:9px 7px 0} /* spwon */
.recentprdt .prdt_lst li{display:none;position:relative;width:76px;height:76px;padding:4px;height:97px;} /* spwon */
.recentprdt .prdt_lst .show{display:block}
.recentprdt .prdt_lst li>a{display:block;width:74px;border:1px solid #eee;font-size:0;height:94px;display: table-cell;vertical-align: middle;} /* spwon */
.recentprdt .pagenavgation{position:relative;height:23px;margin:1px 12px 0;padding:0 20px;color:#999;text-align:center}
.recentprdt .pagenavgation button{position:absolute;top:0;padding:7px;font-size:0}
.recentprdt .pagenavgation .sp{width:6px;height:9px}
.recentprdt .pagenavgation .btn_prev{left:0}
.recentprdt .pagenavgation .btn_prev .sp{background-position:-46px -26px}
.recentprdt .pagenavgation .btn_next{right:0}
.recentprdt .pagenavgation .btn_next .sp{background-position:-54px -26px}
.recentprdt .cnt{line-height:24px}
.recentprdt .cnt em{font-weight:bold}
.recentprdt .ly_bnr{top:4px;right:4px;bottom:4px}
.ly_bnr.prdt_view{width:234px;height:94px;padding:0;background:none;z-index:10} /* spwon */
.ly_bnr.prdt_view a{display:block;padding-right:74px}
.ly_bnr.prdt_view .arr{position:absolute;top:50%;right:-4px;width:4px;height:7px;margin-top:-4px;background-position:-167px -107px}
.ly_bnr .prdt_caption{position:relative;padding:24px 11px;background:#666;color:#fff;letter-spacing:0} /* spwon */
.ly_bnr .prdt_caption .brand{display:block;overflow:hidden;font-weight:normal;line-height:13px;text-overflow:ellipsis;white-space:nowrap}
.ly_bnr .prdt_caption .prdt_tit{margin-top:4px;line-height:13px}
.ly_bnr .prdt_caption .price{margin-top:4px;font-weight:bold;color:#00e3ec;line-height:13px}
.ly_bnr .prdt_caption .price span{font-weight:normal}
.category_overview{display:none;}
/* top banner */
.top_banner{position:relative}
.top_banner .in{width:940px;margin:0 auto;font-size:0}
.top_banner span{display:inline-block}
.top_banner img{position:relative;width:100%;height:100%}
.top_banner .banner{display:inline-block;position:relative;width:940px;height:70px;z-index:1}
.top_banner .banner span{position:absolute;top:0;right:0;left:0;bottom:0}
.top_banner.type2 .banner{width:470px}
.top_banner.type3 .banner{width:313px}
.top_banner.type3 .banner:first-child{width:314px}
.top_banner .bg_left,.top_banner .bg_right{position:absolute;top:0;bottom:0}
.top_banner .bg_left{right:50%;left:0}
.top_banner .bg_right{right:0;left:50%}

/*앱쿠폰다운받기*/
#appDownload {position:fixed !important; display:none; left:50% !important; top:50% !important; width:560px; height:220px; margin:-110px 0 0 -280px;}
#appDownload .ly_pop3.ly_appdown {left:0; top:0;}