<link rel="stylesheet" href="//img.lfmall.co.kr/file/WAS/display/Planning/plan_design/css/m/default.css?v230223" />
<div class="plan is-mobile plan-00000">
  <!-- code -->
</div>
<script type="text/javascript" src="//img.lfmall.co.kr/file/WAS/display/Planning/plan_design/js/planCommon.v2.js?v230223"></script>
<!--
<div class="ctns">
  <div class="fix">
    <img alt="" src="//img.lfmall.co.kr/file/WAS/display/Planning/common/m_benefit_tit_@@yearMonth@@.png" class="full-image" />
    <div class="plan-swiper plan-swiper-mobile-iframe">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="https://img.lfmall.co.kr/file/WAS/display/Planning/common/m_benefit_1_@@yearMonth@@.png" alt="" /></div>

          <div class="swiper-slide"><img src="https://img.lfmall.co.kr/file/WAS/display/Planning/common/m_benefit_2_@@yearMonth@@.png" alt="" /></div>
        </div>
      </div>
      <div class="swiper-pagination" style="bottom: 5%"></div>
    </div>
  </div>
</div>
-->
